<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.walsli.timestatistics" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:icon="@drawable/icon"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/appName"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:excludeFromRecents="true"
            android:label="@string/settingActivityTitle"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:excludeFromRecents="true"
            android:label="@string/_blank"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:excludeFromRecents="true"
            android:label="@string/_blank"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <service android:name=".ScreenListenerService" />

        <receiver android:name=".BootService" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mywidget" />
        </receiver>

    </application>

</manifest>
